@font-face {
    font-family: 'Google Sans';
    src: url("../fonts/GoogleSans-Regular.ttf");
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    background-color: green;
}

ul {
    position: absolute;
    left: 676px;
    /*left: 10px;*/
    /*top: -20px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Google Sans';
    list-style-type: none;
}

.box {
    /*background-color: #FDFDFD;*/
    background-color: #F7F7F7;
    border-radius: 23px;
    margin: 8px 0;
    height: 86.6px;
    /*line-height: 86.6px;*/
    padding: 0 32px;
    width: max-content;
}


#placeHolderZoom {
    position: absolute;
    top: 220px;
    /*left: 676px;*/
    /*left: 116px;*/
    left: 507px;
    width:907px;
    height:373px;
    border-radius: 40px;
    text-align: center;
    opacity: 0;
    background-color: aliceblue;
    font-family: 'Google Sans';
    font-size: 65px;
    line-height: 78px;
}


#placeHolderZoom text {

}

li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #797979;
    font-size: 22.6px;
    user-select: none;
}
