@font-face {
    font-family: 'Google Sans';
    src: url("../fonts/GoogleSans-Regular.ttf");
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    background-color: green;
}

.bubblePosition {
    position: absolute;
    height: 86.6px;
    padding: 0 32px;
    border-radius: 23px;
    background-color: #FDFDFD;
    margin: 8px 0;
    width: max-content;
}

#listContainer {
    position: absolute;
    left: 10px;
}

#placeHolderPrompt {
    position: absolute;
    top: 419px;
    /*left: 716px;*/
    left: 116px;
    width: 572px;
    height: 238px;
    opacity: 1;
    border-radius: 27px;
    text-align: center;
    background-color: aliceblue;
    border: solid 1px blue;
    font-family: monospace;
}

#placeHolderPrompt text {
    font-family: 'Google Sans';
    font-size: 38.5px;
}

