@font-face {
    font-family: 'Google Sans';
    src: url("../fonts/GoogleSans-Regular.ttf");
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    background-color: green;
}

.bubblePosition {
    display: flex;
    align-items: center;
    height: 86.6px;
    padding: 0 32px;
    border-radius: 23px;
    background-color: #FDFDFD;
    margin: 16px 0;
    width: max-content;
}

#listContainer {
    position: absolute;
    top: 10px;
    left: 676px;
}

svg {
    max-height: 238px;
    /*height: auto !important; !* overrides inline *!*/
    /*width: auto !important; !* overrides inline *!*/
    display: block;
    overflow:visible
}

#placeHolderPrompt {
    position: absolute;
    top: 419px;
    /*left: 676px;*/
    /*left: 116px;*/
    left: 10px;
    width: 572px;
    height: 238px;
    border-radius: 27px;
    text-align: center;
    opacity: 0;
    background-color: aliceblue;
    font-family: monospace;
}
#placeHolderZoom {
    position: absolute;
    top: 220px;
    /*left: 676px;*/
    /*left: 116px;*/
    left: 507px;
    width:907px;
    height:373px;
    border-radius: 35px;
    text-align: center;
    opacity: 0;
    background-color: aliceblue;
    font-family: monospace;
}


#placeHolderZoom text {
    font-family: 'Google Sans';
    line-height: 75px;
    font-size: 65px;
}


#placeHolderPrompt svg{
    opacity: 0;
}

#placeHolderPrompt text {
    font-family: 'Google Sans';
    font-size: 38.5px;
}

